@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family-Poppins");
@font-face {
	font-family: "MemphisRiver";
	src: url(Fonts/Memphis\ River.otf);
}
*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.main{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 1130px;
	max-width: 98%;
	margin: 0 auto;
}
.hero .hedt{
	left: -300px;
	font-size: 3rem;
	color: white;
	font-family: "MemphisRiver", sans-serif ;
}
.hero{
	height: 100vh;
	width: 100%;
	background-color: white;
	
}
.video-container {
	align-items: center;
	position:absolute;
	width: 100lh;
	height: 300px;
	overflow: hidden;
}

.video-container video {
	position: absolute;
	top: 50%;
	left: 530px;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	bottom: 20px;	
}

.logoicon{
	
	width: 40px;
	margin-left: -60px;
	margin-top: 0px;
}
nav{
	
	margin-right: 0px;
	width:100%;
	height: 70px;
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	padding: 10px 8%;
	display: flex;
	align-items: center;
	justify-content: space-between ;
	margin-bottom: 200px;
	border-width: 2px;
	background-image: linear-gradient(rgba(9, 9, 9, 0.6),rgba(5, 5, 23, 0.6));
}
nav .mainMenu{
	margin-left: 230px;
}
nav ul{
	margin-left: 20%;
	margin-right: 0Px;
}
.mainMenu .fa{
	margin-right:8px;
}
nav ul li{
	margin-left: 20px;
	padding: 6px  6px 6px 6px;
	list-style-type: none;
    display:inline-block ;
	
}
nav ul li a{
	
    padding: 6px  6px 6px 6px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-transform: capitalize;
    transition: .6s;
    text-align: left;    
}
nav ul li a:hover,
nav ul li a.active{
	color: rgb(230, 210, 33);
	transition: .6s;
    transform: scale(1,1);    
}
.sub_menu_service{
	display: none;
}
nav ul li:hover .sub_menu_service
{
	width: 170px;
	height: 180px;
	display: block;
	position:absolute;
	background-image: linear-gradient(rgba(9, 9, 9, 0.4),rgba(5, 5, 23, 0.4));
	margin-top: 3px;
	margin-left: -15px;
}
nav ul li:hover .sub_menu_service ul
{
	margin: 10px;
}
nav ul li:hover .sub_menu_service ul li
{
	width: 165px;
	padding: 22px;
	border-bottom: 1px dotted gray;
	border-radius: 0;
	text-align: left;
	margin-left: -8px;
	margin-top: -5px;
}
nav ul li:hover .sub_menu_service ul li:last-child{
	border-bottom: none;
}
.sub_menu_info{
	display: none;
}
nav ul li:hover .sub_menu_info
{
	width: 190px;
	height: 160px;
	display: block;
	position: absolute;
	background-image: linear-gradient(rgba(9, 9, 9, 0.4),rgba(5, 5, 23, 0.4));
	margin-top: 3px;
	margin-left: -10px;
}
nav ul li:hover .sub_menu_info ul
{
	margin: 10px;
}
nav ul li:hover .sub_menu_info ul li
{
	width: 150px;
	padding: 18px;
	border-bottom: 1px dotted gray;
	border-radius: 0;
	text-align: left;
	margin-left: 10px;
	margin-right: 30px;
	margin-top: -5px;
}
nav ul li:hover .sub_menu_info ul li:last-child{
	border-bottom: none;
}
nav .logo{
	border-color: black;
	
    margin-top: 0px;
	margin-left: -20px;
	width: 140px;
	height:40px;
	margin-right: 98px;
}
.nonHome{
	background-image: linear-gradient(rgba(29, 9, 9, 0.3),rgba(1, 1, 19, 0.3)),url(Images/back2.jpg);
}
nav .openMenu{
	display: none;
}
nav .closeMenu{
	display: none;
}

span{
	color: rgb(255, 255, 255);
}
.hidden {
	display: none;
  }
  
  #usernameContainer {
	position: fixed;
	top: 10px;
	right: 10px;
	background-color:  rgb(230, 210, 33);
	color: black;
	padding: 5px 10px;
	border-radius: 5px;
  }
.signout{
	display: none;
}
.favorites{
	display:none;
}
.signUpButton{
	margin-top :10px;
	margin-right: -90px;
	padding-top: 20px;
	font-size: small;
	top: -5px;
	float:right;
	padding: 10px 25px;
	background-color: rgb(230, 210, 33);
	color:black;
	text-decoration: none;
	font-weight: bold;
	transition: transform .4s;
	border:  solid transparent;
	border-radius: 60px;
}
.signUpButton:hover{
	transform: scale(1.1);
}
.input-field form {
    font-size: x-large;
    background-color: black(230, 210, 33);
    border-radius: 30px;
   margin-top: 70px;
    outline-color: rgb(25, 24, 24);
	margin-bottom: 400px;
    display:flex;
    align-items: center;
    padding: 15px 15px 15px 15px;
    width: 95%;
    color:  rgb(230, 210, 33);
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
    border: solid rgb(230, 210, 33);
}
.hotel-search {
	
	position: absolute;
	margin-top: 250px;
	left:150px;

}
 h2{
	color: black;
	font-size: 25px;
	margin-top: 100px;
    margin-bottom: 40px;
    align-items: center;
}

.arrival::placeholder{
    color:black;
}
.departure::placeholder{
    color: black;
}
.end-date::placeholder{
    color: black;
}
.start-date::placeholder{
    color: black;
}
.arrival{
    font-size: large;
    border: 1px solid #00bcd4;
    background-image: white;
    border-radius: 6px;
    margin-left:-40px;
    margin-right: 35px;
    display: flex;
    align-items: center;
    padding: 15px 35px 15px 35px;
    Color: black;
    width: 56%;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
    text-align: center;
   }
.departure{
    font-size: large;
	border: 1px solid #00bcd4;
    background-image: white;
    margin-left:-55px;
    margin-right: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px 35px 15px 35px;
    border-radius: 6px;
    width: 50%;
    color:  black;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: auto;
   }
.start-date{
    font-size: large;
	border: 1px solid #00bcd4;
    background-image: white;
    border-radius: 6px;
    margin-left:-30px;
    margin-right: 35px;
    display: flex;
    align-items: center;
    padding: 15px 35px 15px 35px;
    width: 40%;
    color: black;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
.end-date{
        font-size: large;
        background-image: white;
        border-radius: 6px;
		border: 1px solid #00bcd4;
        margin-left:-33px;
        margin-right: 35px;
        display: flex;
        align-items: center;
        padding: 15px 35px 15px 35px;
        width: 40%;
        color:  black;
        max-height: 65px;
        transition: max-height 0.5s;
        overflow: hidden;
        margin-right: 135px;
    
}
.input-field button{
    font-weight: bolder;
    font-size: large;
	padding: 15px 35px 15px 35px;
	border: none;
	border-top-right-radius: 60px;
	border-bottom-right-radius: 60px;
    background-color:rgb(230, 210, 33);
	box-shadow: inset 0 0 0 0 rgb(103, 93, 10);
	color: black ;
	position: absolute;
	display: inline-block;
	outline: none;
	top: 197.5px;
	right: 6px;
    width: 150px;
    height: 60px;
    margin-right: 50px;
}

.input-field button:hover{
	box-shadow: inset 380px 0 0 0 rgb(230, 210, 33);
	transition: .8s;
	cursor: pointer;
}
.input-field i{
    z-index: 1000;
}

section{
	position: relative;
	background-image: linear-gradient(rgba(17, 17, 18, 0.7),rgba(5, 4, 5, 0.7));
}
.row{
	top: 40px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	position: relative;
	top: 50px;
}
footer{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 300px;
	position:relative;
	top:0px;
	border-top: 4px solid blue;
	border-top-left-radius: 125px;
	background-color: #1a1a1b;
    padding: 0 0;
	bottom: 0px;
	
}
.end{
	color: white;
	text-align: center;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col p{
	color: white;
	margin-bottom: 8px;
}
.footer-col h2{
	top: -50px;
	left: -300px;
	font-size: 3rem;
	color: white;
	font-family: "MemphisRiver", sans-serif ;
	transition:linear 3s;

}
.footer-col h2:hover{
padding: 40px;
}

.footer-col h3{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h3::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color:blue;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.underline{
	width: 20%;
	height:5px;
	background-color: blue;
	border-radius: 3px;
	position: absolute;
	top:25px;
	left: 0;
	overflow: hidden;
}
.underline span{
	width: 15px;
	height: 100%;
	background: white;
	border-radius: 3px;
	position:absolute;
	top: 0;
	left: 10px;
	animation: moving 2s linear infinite;
}
@keyframes moving{
	0%{
		left: -20px;
	}
	100%{
		left: 100%;
	}
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footer form{
	padding-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #ccc;
	margin-bottom: 50px;
}
.subscriber .far{
	font-size: 18px;
	margin-right: 10px;
	color: white;
	bottom: 20px;

}
.subscriber input{
	width: 100%;
	background: transparent;
	color: white;
	border:2px solid yellow ;
	outline: none;
	padding: 12px;
	border-radius: 20px;
}

.subscriber button{
	font-weight: bolder;
	font-size: 1rem;
	padding: 15px;
	border: none;
	border-radius: 60px;
	background-color: rgb(230, 210, 33);
	box-shadow: inset 0 0 0 0 rgb(103, 93, 10);
	color: black;
	display: inline-block;
	outline: none;
	position: relative;
	width: 70px;
	height: 40px;
	top: -41px;
	left: 267px;
}
form button:hover{
box-shadow: inset 380px 0 0 0 rgb(230, 210, 33);
	transition: .8s;
	cursor: pointer;}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.email-id{
	width: fit-content;
	border-bottom: 1p solid gray;
	margin: 20;
}
.preview-wrapper img {
	position:relative;
	 height: 15%;
	 width: 15%;
	 
}
#hotel img:hover {
	cursor: pointer;
	 
}
.hotel-result .preview-wrapper{
	position: relative;
	background-color:black(230, 210, 33);;
	justify-content: space-between;
	grid-row: 3;
	
}
.preview-hotel-descriptions li{
	
    font-size: 1rem;
	list-style: none;
	color: black;
	justify-content:space-between;
}

.hotel-result .hotel{
	background-color: black(230, 210, 33);
	position: relative;
	margin-top: 70px;
	margin-bottom: 50px;
	justify-content: space-between;
	grid-row: 5;
	bottom: 100px;
	
}
.hotel-result .title1{
	left: 70px;
	font-size: 2rem;
	color: black;
	position: relative;
	top: 50px;
}

#hotel {

	margin-top: 100px;
	background-color: black(230, 210, 33);
	position: relative;
	display: flex;
	flex-wrap: wrap;
    gap: 20px;
	margin-left: 80px;
	grid-row: 4;
	

	
}

#hotel > div {
	
	top: 100px;
	background-color: rgb(255, 249, 249);
	flex-grow: 1;
	width: 300px;
	border: 2px solid #00bcd4;
	border-radius: 20px;
	padding: 5px;
	grid-row: 3;
	cursor: pointer;
	transition: transform .4s;
	transform: translate(0%, -10%);
	box-shadow: 0 0 5px 5px #00bcd4;
}
#hotel > div:hover {
	transform: scale(1.1);
	z-index: 1000;
	
}
#hotel img {
	filter:blur();
	margin-left: -5px;
	margin-top: -5px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 103%;
	align-items: center;
	height: auto;
}
.hotel-result{
	width: 100%;
	left: -10px;
	background-color:black(230, 210, 33);
	position: relative;
	top: 550px;
	bottom: 900px;
}
